
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
    width:100%;
}

.floatbox{
     

    position:relative;
    width:50px;
    height:10px;
    display: inline-flexbox;
    background-color: red;
    animation-name: honathapyar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    
}

@keyframes honathapyar{

    0%   {background-color:red; left:550px; top:0px;
        transform: rotate(90deg);}
  25%  {background-color:yellow; left:950px; top:0px;
    transform: rotate(180deg);}
  50%  {background-color:blue; left:950px; top:50px;
    transform: rotate(270deg);}
  75%  {background-color:green; left:550px; top:50px;
    transform: rotate(360deg);}
  100% {background-color:red; left:550px; top:0px;
    transform: rotate(90deg);}
}


header{
    
    background-color: blue;
    color:white;
    
    top:0;
    position:sticky;
    height:53px;
    margin:0;
    text-align: center;
    
    background-image: linear-gradient(to bottom left, gray, rgb(255,255,255,0.5));
}

header h3,h4{
    display: inline;
    margin-bottom: 10px;
    margin: 10px;
}


#logo{
    height:35px;
    width: 50px;
    background-color: white;
    z-index: 1;
    position: relative;
   
    display: inline-flex;
    top:5px;
    background-image: repeating-conic-gradient(red 0deg 10deg, yellow 10deg 20deg, blue 20deg 30deg);
  border-radius: 50%;

}
header div h3,p{
    display: inline;
}
.navbar{
    background-color: rgb(66, 162, 130);
    height: 2.5em;
    margin:0;
    width:100%;
    border: 1px solid darkmagenta;
    border-radius: 4px;
    box-sizing: border-box;
    
}
.navbar nav a{
display: block;
box-sizing: border-box;
height: auto;
width: min(100px,20vw);
background-color:brown;
padding: 3px;
margin: 7px 10px;
float:left;
text-align: center;
color:white;
text-decoration: none;

}
.navbar nav a:hover{

    font-weight: bold;
    background-color: firebrick;
}




.leftsection,.rightsection{
    box-sizing: border-box;
    width: 20%;
    background-color: aqua;
    height: 80vh;
    margin:0;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom left, lightblue, wheat);
    overflow: auto;
    border-radius: 20px;
}
.section ul li{
    list-style-type: none;
    display: flex;
    width:100%;
    height:auto;
    flex-direction: column;
    background-color: yellowgreen;
    border: 2px solid rebeccapurple;
    margin: 10px 0px;
}
.section ul li:hover{
    background-color: firebrick;
    font-size: 20px;
}
.section ul li a:hover{
    color: white;
    font-size: 20px;
}
.section div ul li a {
    padding: 4px;
text-decoration: none;
display: block;
} 
.midsection{
    width:60%;
    background-color: white;
    height: 80vh;
  
   
    box-sizing: border-box;
    background-image: linear-gradient(to bottom left, lightblue, white);
}
.ews{
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px solid lightblue;
}
.midsection div h2{
    text-align: center;
    margin:5px;
    color:black;
    font-size: 40px;
    margin:20px;

}
.midsection div p{
    text-align: center;
    margin:5px;
    color: black;
    
}
.section{

    float:left;

}

.content:after {
    content: "";
    display: table;
    clear: both;
  }


.articlesection{
    background-image: linear-gradient(to bottom left, lightblue, white);
    width: 100%;
    height: 200px;
}
.articlesection article{
    padding: 30px;
}
footer {
    display: block;
    padding: 20px;
    text-align: center;
    background: #ddd;
    background-image: linear-gradient(to bottom left, lightblue, white);
    
  }

 @media screen and (max-width:800px){

    .section{
        clear: left;
        display: block;
        width: 100%;
        height: auto;
    }
    .articlesection{
        height: auto;
    }
    header div h4{
        
        left:50%;
    }
    .imagebar{
        flex-direction: column;
        
    }
    .imagebar img {
        
        width: 100%;
        
    }
 }
 @media screen and (max-width:600px){

    .navbar nav a{
        width: 100%;
    }
    .navbar{
        height: 150px;
    }
    header div h4{
        
        left:54%;
    }
    
 }

 .articlesection article h2{
    
    font-size: 50px;
    text-shadow: 1px 1px 2px red,
    2px 2px 4px red,
    3px 3px 4px gold,
    4px 4px 4px gray,
    5px 5px 4px greenyellow,
    6px 6px 4px  blue,
    7px 7px 4px  black,
    8px 8px 5px violet;
 }

 .imagesec{
    background-color: white;
    height:auto;
    margin: 20px 80px;
    position:absolute;
    border: 5px groove peachpuff;
 }
.imagebar{
    position:relative ;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
}
 .imagebar img{
    
    
    width:200px;
    height:150px;
    margin:20px;
    border: 2px solid gray;
    transition: width 1s, height 1s, transform 1s;
    transition-timing-function: ease-in-out;
    
    
 }

 .imagebar img:hover{

    width: 400px;
    height: 300px;
    transform: rotate(360deg);
    
 }

 .button{
    width:100px;
    height:30px;
    text-align: center;
   padding: 5px;
   margin-top: 10px;
   position: relative;
   left: 43%;
   background-color: blueviolet;
   color: white;
   font-weight: bold;
   
 }
 .faltu{

    height: 200px;
    width: 300px;
    background-color: cyan;
    transition: width 3s  ease-in-out;
 }

 .faltu:hover{
    width:600px ;
 }

